.cosmos {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: fixed;
}
.blog-header {
  padding-top: 30px;
}
.blog-header .blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: normal;
}
.blog-header .blog-description {
  font-size: 18px;
}
.blog-main {
  font-size: 14px;
  line-height: 1.5;
}
.blog-main .nav-tabs {
  border-color: transparent;
}
.blog-main .nav-tabs li a {
  border: none;
  color: #666;
}
.blog-main .nav-tabs li a:hover {
  background-color: transparent;
}
.blog-main .nav-tabs li.active a {
  border: none;
  background-color: transparent;
  color: #2a4396;
}
.blog-main pre {
  background-color: transparent;
  border: none;
  padding: 10px 0 0 40px;
}
.blog-main h3 {
  padding: 15px 10px 0;
}
.blog-main p {
  padding: 10px 0 0;
  text-align: justify;
  text-indent: 1em;
}
.blog-main ol {
  padding: 10px 0 10px 40px;
  list-style-type: cambodian;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: rgba(122, 122, 122, 0.5);
  border-radius: 4px;
}
.sidebar-module-inset ol:last-child,
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child {
  margin-bottom: 0;
}
.sidebar-module {
  padding: 15px;
  margin: 0;
}
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}
