/*header  start*/
/*header  end*/
/*nav  start*/
/*nav  end*/
/*content  start*/
.home {
  background: #fafafa;
}
.home #snow-one {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  pointer-events: none;
}
.home #snow-two {
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  pointer-events: none;
}
.home #snow-three {
  top: 0;
  left: 0;
  z-index: 98;
  position: fixed;
  pointer-events: none;
}
.home .carousel .item {
  height: 100%;
}
.home .carousel.slide {
  -webkit-box-shadow: 0 0 10px 5px #000;
  -moz-box-shadow: 0 0 10px 5px #000;
  -box-shadow: 0 0 10px 5px #000;
}
.home .carousel-caption {
  color: #ccc;
}
/*content  end*/
/*footer  start*/
/*footer  end*/
